body {
    background-color: beige;
    margin: 0;
    text-align: center;

    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: tomato;
}

footer {
    width: 100%;
    color: white;
    background-color: tomato;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer:hover {
    background-color: wheat;
}

section {
    margin: 20px;
    padding: 10px;

}